footer
	p.white
		a(href='https://www.linkedin.com/in/yanniskritikos')
			img(src='../image/social/linkedin.png')
		|	&mdash;
		|	&mdash;
		a(href='https://www.flickr.com/photos/73717179@N05/')
			img(src='../image/social/flickr.png')
		|	&mdash;
		|	&mdash;
		a(href='http://vimeo.com/yanniskritikos')
			img(src='../image/social/vimeo.png')
	p
		|	&copy; 2015 designed by <a href='http://elenifragkouli.github.io'>Eleni Fragkouli</a>