footer
	p.white
		a(href='https://www.flickr.com/photos/73717179@N05/')
			img(src='../image/social/flickr.png')
		|	&mdash;
		a(href='http://vimeo.com/yanniskritikos')
			img(src='../image/social/vimeo.png')
	p
		|	&copy; 2014 designed by <a href='https://twitter.com/elenifragkouli'>Eleni Fragkouli</a>