script(src='http://code.jquery.com/jquery-2.1.1.min.js')
script(src='script/visibility.js')
script(src='script/classie.js')
script(src='script/demo7.js')
script.
	$(document).ready(function(){
		ReadMore.init();
		})