mixin vimeo(id, title)
	.p <iframe src="http://player.vimeo.com/video/#{id}?title=0&portrait=0&byline=0&color=ececec" width="1000" height="426" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>