include includes/_head
body
	.container
		.in_full
			section
				p 
					img#trigger-overlay(src='image/kritikoslogo.png')
		.frame
			include mixins/_frame
			+frame('taxidi.html','taxidi.jpg')
			+frame('sbaraquack2.html','sbaraquack2.jpg')
			+frame('sbaraquack.html', 'sbaraquack.jpg')
			+frame('onenightband.html', 'onenightband.jpg')
			+frame('one_day_on_earth.html', 'one_day_on_earth.jpg')
		include includes/_foot
	include mixins/_overlay
	include includes/_script