include includes/_head
body
	.container.vimeo
		include mixins/_full
		.responsive-video-container
			include mixins/_vimeo
			mixin vimeo('56811636', '12.12.12 | One Day On Earth Chania.Greece')
		.visible
			- des = {jr: "Yannis Kritikos", title: "12.12.12 | One Day On Earth Chania.Greece" }
			h4
				|	#{des.title}
			h5	
				|	Filmed/Directed/Edited By #{des.jr}
		include includes/_foot
	include mixins/_overlay
	include includes/_script