include includes/_head
body
	.container.vimeo
		include mixins/_full
		.responsive-video-container
			include mixins/_vimeo
			mixin vimeo('115453080', 'To taxidi')
		.visible
			- des = {jr: "Yannis Kritikos", title: "To taxidi" }
			h4
				|	#{des.title}
			h5	
				|	Directed | Filmed | Edited By #{des.jr}
			h5
				|	Second videoclip of Sbaraquack
			- array = [" Constantin Kalatzakis", " Emmanuela Chiotaki"]
			p(style='white-space:pre;')
				br
				|	<b>Music</b>
				br
				|	#{array[0]}
				br
				|	<b>Vocals</b>
				br
				|	#{array[1]}
			a.read-more(href='#')
				|	Read more +
		include includes/_foot
	include mixins/_overlay
	include includes/_script